.main-content {
    flex: 1;
    padding: 20px;
}

.header h1 {
    margin-top: 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.task-list, .reminders {
    width: 48%;
}

.task-list ul, .reminders ul {
    list-style-type: none;
    padding: 0;
}

.task-list li, .reminders li {
    margin: 10px 0;
}

  .content {
    flex-grow: 1; /* 使内容区域根据窗口大小进行调整 */
    margin-left: 220px; /* 留出侧边栏和间距的空间 */
    padding: 20px;
  }
  
  